<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> LOGIN </title>
    <style>
        input, form, div {
            box-sizing: border-box;
        }
        .box{
            margin: 0 auto;
        }
        .all_form {
            width: 340px;
            height: 60px;
            border: 1px solid black;
            font-size: 16px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<header id="header">
    <div class="box">
        <form metod="post">
            <input class="all_form" type="email" placeholder="Email: ">
            <input class="all_form" type="password" placeholder="Password: ">
            <button type= "submit"> Log in </button>
        </form>
    </div>
</header>

</body>
</html>
